:root {

    /* Background colors */

    --bg-color-0: #000;
    --bg-color-1: #020203;
    --bg-color-2: #0a0b0c;
    --bg-color-3: #121315;
    --bg-color-4: #191b1f;
    --bg-color-5-d: #1b1e23; /* Header and left menu bg color */
    --bg-color-5: #212328; /* Header and left menu bg color */
    --bg-color-5-l: #26282d; /* Header and left menu bg color */
    --bg-color-6: #292b31;
    --bg-color-7: #30333b;
    --bg-color-8: #383b44;
    --bg-color-9: #40444d;

    --bg-secondary-color: #197379;

    /* General colors */

    --base-color--d: #6C7077;
    --base-color: #D4D4D4;
    --base-color--l: #FFFFFF;
    --primary-color: #4d76c8;
    --secondary-color--d: #197379;
    --secondary-color: #50E3C2;
    --terciary-color: #E0634A;

    --success-color: #59d68a;
    --danger-color: #e0422a;
    --warning-color: #ed6d3b;

    /* Popover shadows */

    --popover-shadow: 0px 2px 4px 0px rgba(0,0,0,.2);

}