:root {

    /* Background colors */

    --bg-color--0:    #070708; /* 3% */
    --bg-color--1:    #101114; /* 7% */
    --bg-color--2:    #17181c; /* 10% */
    --bg-color--3:    #1c1d22; /* 12% */
    --bg-color--4:    #1e2024; /* 13% */
    --bg-color--5:    #212328; /* Origin color and starting at 14% */
    --bg-color--6:    #23252a; /* 15% */
    --bg-color--7:    #25272d; /* 16% */
    --bg-color--8:    #292c32; /* 18% */
    --bg-color--9:    #30333b; /* 21% */
    --bg-color--10:   #3a3d46 ; /* 25% */

    --bg-color--primary: #4d76c8;
    --bg-color--secondary: #197379;
    --bg-color--terciary: #E0634A;

    --bg-color--success: #59d68a;
    --bg-color--danger: #e0422a;
    --bg-color--warning: #ed6d3b;

    /* Font colors */

    --font-color--0: #1d1e20; /* 12% */
    --font-color--1: #313235; /* 20% */
    --font-color--2: #44464b; /* 28% */
    --font-color--3: #55585e; /* 35% */
    --font-color--4: #61656b; /* 40% */
    --font-color--5: #6c7077; /* Origin color and starting at 45% */
    --font-color--6: #797e86; /* 50% */
    --font-color--7: #94989e; /* 60% */
    --font-color--8: #cacbce; /* 70% */
    --font-color--9: #e4e5e7; /* 80% */
    --font-color--10: #efefef; /* 90% */

    --font-color--primary: #4d76c8;
    --font-color--secondary: #50E3C2;
    --font-color--terciary: #E0634A;

    --font-color--d-primary: #4d76c8;
    --font-color--d-secondary: #197379;
    --font-color--d-terciary: #E0634A;

    --font-color--success: #59d68a;
    --font-color--danger: #e0422a;
    --font-color--warning: #ed6d3b;

    /* Border colors */

    --border-color--0: #1d1e20; /* 12% */
    --border-color--1: #313235; /* 20% */
    --border-color--2: #3B3F4A;
    --border-color--3: #55585e; /* 35% */
    --border-color--4: #61656b; /* 40% */
    --border-color--5: #6c7077; /* Origin color and starting at 45% */
    --border-color--6: #797e86; /* 50% */
    --border-color--7: #94989e; /* 60% */
    --border-color--8: #cacbce; /* 70% */
    --border-color--9: #e4e5e7; /* 80% */
    --border-color--10: #efefef; /* 90% */

    --border-color--primary: #4d76c8;
    --border-color--secondary: #50E3C2;
    --border-color--terciary: #E0634A;

    --border-color--success: #59d68a;
    --border-color--danger: #e0422a;
    --border-color--warning: #ed6d3b;

    /* General colors */

    --base-color--d: #6C7077;
    --base-color: #D4D4D4;
    --base-color--l: #FFFFFF;
    --primary-color: #4d76c8;
    --secondary-color--d: #197379;
    --secondary-color: #50E3C2;
    --terciary-color: #E0634A;

    /* Shadows */

    --popover-shadow: 0 2px 5px 0 var(--bg-color--2);
    --dial-button-shadow: 0 1px 2px 0 var(--bg-color--3);
    --card-shadow: 0 2px 5px 0 var(--bg-color--3);
    --main-menu-shadow: 0 0 15px -5px var(--bg-color--0);
    --main-header-shadow: 0 0 15px -5px var(--bg-color--0);
    --bottom-panel-shadow: 0 0px 15px -7px var(--bg-color--0);

    /* Alias */

    --bg-color: var(--bg-color--5);
    --font-color: var(--font-color--5);
    --border-color: var(--border-color--5);

}