/* html */

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: Montserrat, sans-serif;
    overflow: hidden;
}

fieldset {
    border: 0;
}

input {
    background: transparent;
    border: 0;
    padding: 0 0 5px;
    border-bottom: 2px solid var(--border-color--2);
    text-transform: uppercase;
    color: var(--font-color--8);
    outline: 0;
    width: 100%;
    height: 24px;
    font-size: 14px;
    transition: all .3s;
}

input.input--borderless {
    border-bottom: 0;
    padding-bottom: 0;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: #333 !important;
}

input:focus, input:visited {
    border-bottom: 2px solid var(--border-color--primary);
}

input.input--borderless:focus, input.input--borderless:visited {
    border-bottom: 0;
}

h1, h2, h3, h4, h5, p, span, a, li, div {
    color: var(--font-color);
    font-weight: initial;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-weight: 600;
}

h1 {  font-size: 18px;  }
h3 {  font-size: 16px;  }

a {
    color: var(--font-color--7);
    outline: 0 none;
    box-shadow: 0 0 0;
}

a:hover, a:active, a:focus {
    color: var(--font-color--9);
    outline: 0 none;
    box-shadow: 0 0 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

/* classes */

.btn {
    cursor: pointer;
    border-radius: 5px;
    line-height: 100%;
    border: 0;
    font-weight: normal;
    background: var(--bg-color--10);
    color: var(--font-color--9);
    outline: 0;
    box-shadow: none;
    padding: 0 15px;
    margin: 0;
    height: 24px;
    display: flex;
    align-items: center;
}

.btn.btn--circle  {
    border-radius: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.btn.btn--mini-circle  {
    border-radius: 15px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover, .button:active, .button:focus {
    color: #FFF;
    outline: 0;
    box-shadow: 0 0 0;
}

.button i{
    position: relative;
    margin-right: 3px
}

/* color classes */

.btn.btn--primary {
    background: var(--bg-color--primary);
}
.btn.btn--secondary {
    background: var(--bg-color--secondary);
}
.btn.btn--terciary {
    background: var(--bg-color--terciary);
}

.btn.btn--border-only {
    background: transparent;
    border: 1px solid var(--bg-color--10);
}
.btn.btn--border-only.btn--primary {
    background: transparent;
    border: 1px solid var(--bg-color--primary);
}
.btn.btn--border-onlyd.btn--secondary {
    background: transparent;
    border: 1px solid var(--bg-color--secondary);
}
.btn.btn--border-only.btn--terciary {
    background: transparent;
    border: 1px solid var(--bg-color--terciary);
}


/* for modals */
.modal-container {
    padding: 20px;
}

/* panels */

div.module-panel *::-webkit-input-placeholder {
    color: rgba(255,255,255,0.5);
}
div.module-panel *:-moz-placeholder {
    color: rgba(255,255,255,0.5);
}
div.module-panel *::-moz-placeholder {
    color: rgba(255,255,255,0.5);
}
div.module-panel *:-ms-input-placeholder {
    color: rgba(255,255,255,0.5);
}

/* tags */

.tag {
    background: #222;
    color: #AAA;
}

.tag.is-small {
    font-size: 12px;
    padding: 0px 8px;
    height: auto;
}

/* tables */

.table {
    background-color: transparent;
    margin-bottom: 0;
    display: flex;
}

.table tr:hover {
    background-color: #212128;
}

.table th {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    background: #212128;
}

.table td, .table th {
    padding: 6px 10px 4px;
}

table.table.is-transparent {
    background: rgba(255,255,255,0.2);
    margin-bottom: 0;
}

table.table.is-transparent th {
    background: rgba(255,255,255,0.5);
}

table.table.is-transparent tr:hover {
    background: rgba(255,255,255,0.2);
}

table.table.is-transparent td {
    color: #FFF;
}

table.table.is-transparent td.obs {
    color: #FFF;
}

table.table.is-transparent td.obs {
    opacity: 0.2;
    color: #FFF;
}

table.table.is-transparent td.obs.active {
    opacity: 1;
    font-weight: bold;
    color: #CFFFB3;
}

table.table.is-transparent th,
table.table.is-transparent td {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 10px;
}

table.table.is-transparent th {
    border-bottom: 0;
}

table.table.is-transparent tr:last-child td,
table.table.is-transparent tbody tr:last-child th {
    border-bottom-width: 0;
}

.table-navigation a {
    border-radius: 0;
    background: rgba(255,255,255,0.4);
    border: 0px;
    font-weight: bold;
    color: #FFF;
    width: 32px;
}

/* remove googlemaps copyrights */

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gm-iv-address {
    display: none!important;
}
.gm-iv-container {
    border-right: 0 none!important;
}

