.request__tabs {
  height: 30px;
  ul {
    display: flex;
    flex-direction: row;
    height: 30px;
    padding: 0;
  }
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 8px;
    padding-left: 8px;
    cursor: pointer;
    &.active {
      background-color: var(--bg-color--6);
      font-weight: 600;
    }
    &:hover {
      background-color: var(--bg-color--6);
    }
  }
}
.request__body {
  .form {
    margin-bottom: 8px;
    flex-grow: 1;
    background-color: var(--bg-color--5);
    &:last-child {
      margin-bottom: 0;
    }
  }
}
