{
  "presets": [
    "latest",
    "stage-0"
  ],
  "plugins": [
    ["babel-plugin-transform-builtin-extend", {
      "globals": ["Error", "Array"],
      "approximate": true
    }],
    [ "babel-plugin-webpack-alias", {
      "config": "./webpack.config.js"
    }],
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}